<!DOCTYPE html>
{% load staticfiles %}

<ul>
    {% if categories %}
        {% for c in categories %}
            {% if c == current_category %}
                <li>
                <strong>
                    <a href="{% url 'rango:show_category' c.slug %}">{{ c.name }}</a>
                </strong>
                </li>
            {% else %}
                {%if c.slug != ""%}
                    <li>
                        <a href="{% url 'rango:show_category' c.slug %}">{{ c.name }}</a>
                    </li>
                {%endif%}

            {% endif %}
        {% endfor %}
    {% else %}
        <li><strong> THere are no categories present.</strong></li>
    {% endif %}
</ul>