<!DOCTYPE html>


{% extends 'rango/base.html' %}
{% load static %}

{% block title_block%}
        <title>Rango</title>
{% endblock %}

{% block body_block %}
    {% if user.is_authenticated %}
        howdy {{ user.username }}!
    {% else %}
            hey there partner!
    {% endif %}
            

        {% if categories %}
        <ul>
            {% for category in categories %}
                <li><a href="/rango/category/{{category.slug}}/">{{category.name}}</a></li>
            {%endfor%}
            </ul>
        {%else%}
            <strong>There are no categories present.</strong>
        {%endif%}
{% endblock %}